<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharer - Admin</title>

    <style>
        body {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        fieldset {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 1em;
            grid-row-gap: 0.5em;
        }
    </style>
</head>

<body>
    <h1>File Sharer - Admin</h1>

    <h2>Share</h2>

    <ul>
        {% for listing in shares %}
        <li><a href="share/{{listing.token}}">{{listing.name}}</a></li>
        {% endfor %}
    </ul>

    <form action="share/" method="post">
        <fieldset>
            <legend>New Share</legend>
            <label>Name</label>
            <input name="name" value="{{new_share.name}}">
            <label>Expiry</label>
            <input name="expiry" type="datetime-local" value="{{new_share.expiry()}}">
            <span></span>
            <input type="submit" value="Generate Share Token">
        </fieldset>
    </form>

    <h2>Upload</h2>

    <ul>
        {% for listing in uploads %}
        <li><a href="upload/{{listing.token}}">{{listing.name}}</a></li>
        {% endfor %}
    </ul>

    <form action="upload/" method="post">
        <fieldset>
            <legend>New Upload</legend>
            <label>Name</label>
            <input name="name" value="{{new_upload.name}}">
            <label>Expiry</label>
            <input name="expiry" type="datetime-local" value="{{new_upload.expiry()}}">
            <label>Space Quota</label>
            <input name="spaceQuota" type="number" value="{{new_upload.space_quota}}">
            <span></span>
            <input type="submit" value="Generate Upload Token">
        </fieldset>
    </form>

</body>

</html>
