<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharer - Admin</title>

    <script>
        function copyUploadToClipboard() {
            var upload = document.getElementById("upload");

            upload.select();
            upload.setSelectionRange(0, 99999);

            navigator.clipboard.writeText(upload.value);

            document.getElementById("copied").style = "";
        }
    </script>
</head>

<body>
    <h1>File Sharer - Admin</h1>

    <input id="upload" type="text" value="{{upload_url}}">
    <button type="button" onclick="copyUploadToClipboard()">Copy to Clipboard</button>
    <span id="copied" style="display: none;">Copied!</span>
</body>

</html>
