<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharer - Admin</title>

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <script>
        function copyUrlToClipboard() {
            var upload = document.getElementById("upload");

            upload.select();
            upload.setSelectionRange(0, 99999);

            navigator.clipboard.writeText(upload.value);

            document.getElementById("copyToClipboard").innerText = "Copied!";
        }
    </script>
</head>

<body>
    <h1>File Sharer - Admin</h1>

    <a href="../..">Back</a>

    <h2>Share - {{name}}</h2>

    <dl>
        <dt>Expiry</dt>
        <dd>{{self.expiry()}}</dd>
    </dl>

    <input id="upload" type="text" value="{{upload_url}}">
    <button type="button" onclick="copyUrlToClipboard()" id="copyToClipboard">Copy to Clipboard</button>

    <h3>Upload Files</h3>

    <form action="#" method="post" enctype="multipart/form-data" class="dropzone">
        <input type="file" id="file" name="file" multiple>
        <input type="submit">
    </form>
</body>

</html>
